
/* Start Navbar Section */
.navbar-header a img{width:140px;
		height:30px}
.mybtn{padding:2px 2px 4px 4px}
/* End Navbar Section */
		
		
		
/* Start jumbooton Section */
.catagori-section{background:url('../img/PAJERO 7.jpg') fixed center}
.catagori-section{padding-top:120px;padding-bottom:240px}
.catagori-section h1{font-family: 'Pacifico', cursive;margin-top:100px;margin-bottom:20px;text-align:center;color:#15517B}	
.catagori-section h2{text-align:center;color:white}	
/*End jumbooton Section */
		
		
		
	
/* Start Choose Car Section */	
.portfolio{background-color:#9fe19f;padding-bottom:20px}
.thumbnail{
	border-radius:0;
	position:relative;
	
}
.overlay-effect{
	position:absolute;
	background:#000;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:0;
	opacity:0.6;
	transition:0.5s;
	overflow:hidden;
	
}
.thumbnail:hover .overlay-effect{width:100%;}
.icon-portfolio{
	position:absolute;
	top:45%;
	left:45%;
	background:blue;
	color:white;
	padding:10px 15px;
}
.section-hedding
{	margin:5%;
	text-transform:uppercase;
}
.control
		{
			color:black
		}
.mix-button{margin:2%}		
		
.choose-car{margin-top:10px}
.car{margin-top:10px}
/* End Choose Car Section */



/* Start Modal*/
.modal-header h4{text-align:center;text-shadow: 2px 2px 8px #FF0000}
.modal-body{background-color:#D5E097}
.modal{margin-left:15px}
/* End Modal*/




/* Start Footer Section */
.footer
		{
			margin-top:-2px;
			color:#C8C8C8;
			height:auto;
			width:100%;
		}
		
.Nurul{background:#A52A2A}
		
.con-more
		{
			color:#fff; 
			padding:10px 10px;
			border-left:3px solid #FCB314;
			margin:40px 20px;
		}
		
.col-md-4 h6{
	color:#fff; 
}

		
.footer ul li 
		{
			letter-spacing:2px;
			display:block;
			margin-top:10px;
			transition:.3s;
		}
.footer ul li :hover
					{
						color:#FCB314;
						transition:.3s;
					}
.footer ul li a
				{
					list-style:none;
					text-decoration:none;
					color:#CFCFCF;
				}
.twitter:before
				{
					content:'\f099';
					color:#0078D7;
					font-size:30px;
					font-family:FontAwesome;
					transition:.5s;
					position:relative
				}
#foot a .fac:hover{
	background-color:#3A579D;
	border-radius: 20px 20px 20px 20px;
}
#foot a .twi:hover{
	background-color:#66ccff;
	border-radius: 20px 20px 20px 20px;
}
#foot a .pin:hover{
	background-color:#ff0000;
	border-radius: 20px 20px 20px 20px;
}
#foot a .goo:hover{
	background-color:#0033ff;
	border-radius: 20px 20px 20px 20px;
}
#foot a .you:hover{
	background-color:#990000;
	border-radius: 20px 20px 20px 20px;
}		
				
.made{padding-top:20px}		
.made{padding-bottom:20px}		
/* End Footer Section */

